<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Song-visualizer</title>
        <link   rel="stylesheet"
                href="/static/bootstrap/css/cerulean-bootstrap.min.css">

    </head>

    <body>
        <div class="hero-unit">
            <h1>Song-visualizer</h1>
        </div>

    </body>

    <script type="text/javascript" src="http://www.google.com/jsapi"></script> 
    <script type="text/javascript"> 
        google.load("jquery", "1.7");
    </script>

</html>
